h1 {
    font-size: 1.5rem;
    color: #A8A8A8;
    text-decoration: underline;
}
.about_div{
    background-color: #fdfdfd;
}
.image_section {
    position: relative;
    cursor: pointer;
}

.image_section img {
    height: 10rem;
    width: 22vw;
    background-size: cover;
    margin-top: 2rem;
}

.title_class {
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.image_section .overlay {
    position: absolute;
    height: 12rem;
    width: 24vw;
    opacity: 0.6;
    background: black;
    border-radius: 0.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

    .image_section img {
        height: 12rem;
        width: 100%;
        background-size: cover;
        margin-top: 2rem;
    }

    .image_section .overlay {
        position: absolute;
        height: 14rem;
        width: 100%;
        opacity: 0.6;
        background: black;
        border-radius: 0.5rem;
        margin-bottom: 10px;
        padding-bottom: 4px;
    }
}